.menu {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.menu__img {
  width: 300px;
}
.menu__right {
  width: 400px;
}
.menu__left {
  margin-left: 150px;
}
.menu__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  justify-content: center;
  gap: 30px;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  position: relative;
  background-color: white;
}
.menu__img__2 {
  width: 200px;
  position: absolute;
  top: -70px;
}
.menu__cards {
  margin-top: 100px;
  display: flex;
  width: 80%;
  border-radius: 20px;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  padding: 50px;
  justify-content: center;
  background-color: rgb(144, 224, 81);
  box-shadow: 0px 19px 50px 25px rgba(111, 192, 47, 0.58);
}
.menu__title__1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 29px;
  color: #000000;
}
.menu__text__1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
}
.menu__main__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
}
.menu__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  color: green;
  font-size: 27px;
}
.menu__texter {
  width: 250px;
}
.menu__plus {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
}
.menu__plus__1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: green;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}
@media (max-width: 500px) {
  .menu {
    flex-direction: column;
    width: 95%;
  }
  .menu__cards {
    width: 50%;
    margin-left: 0;
    margin-right: 200px;
  }
  .menu__left {
    width: 100%;
    margin-left: 20px;
  }
  .menu .container {
    width: 90%;
  }
  .menu__img {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: end;
  justify-content: end;
}
.navbar__list {
  display: flex;
  gap: 50px;
  margin-right: 300px;
}
.navbar__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  color: rgb(19, 18, 18);
}
.navbar__link:hover {
  color: green;
  transition: all 1s linear;
  transform: scale(1.3);
}
.navbar__wrap-svg {
  margin-right: 50px;
}
.navbar__burger {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
.navbar__burger-items {
  width: 30px;
  height: 3px;
  background-color: black;
}
@media (max-width: 500px) {
  .navbar {
    width: 90%;
    margin: 50px auto;
  }
  .navbar__list {
    display: none;
  }
  .navbar__wrap-svg {
    display: none;
  }
  .navbar__burger {
    display: flex;
  }
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.intro__left {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.intro__title {
  width: 655px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  /* or 165% */
  color: #000000;
}
.intro__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* or 150% */
  color: #000000;
}
.intro__span {
  color: rgb(55, 186, 55);
}
.intro__button {
  background-color: rgb(63, 188, 63);
  border-radius: 20px;
  width: 150px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.intro__button:hover {
  color: green;
  background-color: white;
  transition: all 1s linear;
  transform: scale(1.1);
  border: 1px solid green;
}
.intro__button__2 {
  border-radius: 20px;
  width: 150px;
  height: 50px;
  color: rgb(45, 198, 45);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  background: inherit;
  border: none;
}
.intro__button__2:hover {
  color: rgb(255, 255, 255);
  background-color: green;
  transition: all 1s linear;
  transform: scale(1.1);
}
.intro__img {
  width: 500px;
}
@media (max-width: 500px) {
  .intro {
    flex-direction: column;
  }
  .intro__title {
    font-size: 30px;
    width: 90%;
  }
  .intro__img {
    width: 90%;
    margin-top: 50px;
  }
}/*# sourceMappingURL=style.css.map */