.menu {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.menu__img {
  width: 300px;
}
.menu__right {
  width: 400px;
}
.menu__left {
  margin-left: 150px;
}
.menu__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  justify-content: center;
  gap: 30px;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  position: relative;
  background-color: white;
}
.menu__img__2 {
  width: 200px;
  position: absolute;
  top: -70px;
}
.menu__cards {
  margin-top: 100px;
  display: flex;
  width: 80%;
  border-radius: 20px;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  padding: 50px;
  justify-content: center;
  background-color: rgb(144, 224, 81);
  box-shadow: 0px 19px 50px 25px rgba(111, 192, 47, 0.58);
}
.menu__title__1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 29px;
  color: #000000;
}
.menu__text__1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
}
.menu__main__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
}
.menu__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  color: green;
  font-size: 27px;
}
.menu__texter {
  width: 250px;
}
.menu__plus {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
}
.menu__plus__1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: green;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}
@media (max-width: 500px) {
  .menu {
    flex-direction: column;
    width: 95%;
  }
  .menu__cards {
    width: 50%;
    margin-left: 0;
    margin-right: 200px;
  }
  .menu__left {
    width: 100%;
    margin-left: 20px;
  }
  .menu .container {
    width: 90%;
  }
  .menu__img {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .container {
    width: 90%;
    padding: 20px;
  }
}
.navbar {
  display: flex;
  align-items: end;
  justify-content: end;
}
.navbar__list {
  display: flex;
  gap: 50px;
  margin-right: 300px;
}
.navbar__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  color: rgb(19, 18, 18);
}
.navbar__link:hover {
  color: green;
  transition: all 1s linear;
  transform: scale(1.3);
}
.navbar__wrap-svg {
  margin-right: 50px;
}
.navbar__burger {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
.navbar__burger-items {
  width: 30px;
  height: 3px;
  background-color: black;
}
@media (max-width: 500px) {
  .navbar {
    width: 90%;
    margin: 50px auto;
  }
  .navbar__list {
    display: none;
  }
  .navbar__wrap-svg {
    display: none;
  }
  .navbar__burger {
    display: flex;
  }
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.intro__left {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.intro__title {
  width: 655px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  /* or 165% */
  color: #000000;
}
.intro__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* or 150% */
  color: #000000;
}
.intro__span {
  color: rgb(55, 186, 55);
}
.intro__button {
  background-color: rgb(63, 188, 63);
  border-radius: 20px;
  width: 150px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.intro__button:hover {
  color: green;
  background-color: white;
  transition: all 1s linear;
  transform: scale(1.1);
  border: 1px solid green;
}
.intro__button__2 {
  border-radius: 20px;
  width: 150px;
  height: 50px;
  color: rgb(45, 198, 45);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  background: inherit;
  border: none;
}
.intro__button__2:hover {
  color: rgb(255, 255, 255);
  background-color: green;
  transition: all 1s linear;
  transform: scale(1.1);
}
.intro__img {
  width: 500px;
}
@media (max-width: 500px) {
  .intro {
    flex-direction: column;
  }
  .intro__title {
    font-size: 30px;
    width: 90%;
  }
  .intro__img {
    width: 90%;
    margin-top: 50px;
  }
}

.customer {
  width: 1700px;
  height: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.customer_left {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.customer_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #333333;
}
.customer_text {
  width: 675px;
  height: 121px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
  margin-top: 30px;
}
.customer_icon_author {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.customer_icon {
  width: 91px;
  height: 91px;
}
.customer_icon_texts {
  display: flex;
  flex-direction: column;
}
.customer_icon_text_1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #90E051;
}
.customer_icon_text_2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #828282;
}
.customer_right {
  display: flex;
  flex-direction: column;
  position: relative;
}
.customer_right_img {
  width: 600px;
  height: 440px;
  margin-bottom: 120px;
  margin-left: 20px;
}
.customer_right_sml_div {
  width: 547px;
  height: 268px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
  position: absolute;
  top: 300px;
  right: 120px;
}
.customer_right_sml_div_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #333333;
  margin: 30px 15px;
}
.customer_right_sml_div_icon {
  width: 146px;
  height: 25px;
  margin: 0px 15px;
}
.customer_right_sml_div_text {
  width: 471px;
  height: 90px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
  margin: 16px 15px;
}
@media (max-width: 500px) {
  .customer {
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  .customer_left {
    margin-top: 0px;
  }
  .customer_right {
    display: none;
  }
  .customer_text {
    width: 90%;
  }
  .customer_icon_author {
    margin-top: 150px;
  }
}

.about_us {
  width: 1700px;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 250px;
}
.about_us_left_div {
  width: 662px;
  height: 320px;
  background: #FFFFFF;
  box-shadow: 0px 6.10138px 61.0138px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  z-index: 2;
  margin-top: 20px;
}
.about_us_sml_burger {
  width: 166px;
  height: 120px;
  transform: rotate(-15.45deg);
  position: absolute;
  top: 80px;
  left: 50px;
}
.about_us_left_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 40.2598px;
  line-height: 58px;
  color: #000000;
  position: absolute;
  top: 170px;
  left: 160px;
}
.about_us_left_text {
  width: 603.11px;
  height: 123.75px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 28.4187px;
  line-height: 41px;
  color: #828282;
  position: absolute;
  top: 240px;
  left: 160px;
}
.about_us_right {
  display: flex;
  flex-direction: column;
}
.about_us_img {
  width: 769px;
  height: 530px;
  margin-top: -250px;
}
.about_us_burger {
  width: 258px;
  height: 211px;
  position: absolute;
  top: 340px;
  right: 20px;
}
@media (max-width: 500px) {
  .about_us {
    width: 90%;
    margin-top: 200px;
    flex-direction: column;
  }
  .about_us_left_div {
    width: 90%;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 6.10138px 61.0138px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
  }
  .about_us_left_title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 40.2598px;
    line-height: 58px;
    color: #000000;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .about_us_left_text {
    width: 400px;
    height: 123.75px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 28.4187px;
    line-height: 41px;
    color: #828282;
    position: absolute;
    top: 80px;
    left: 10px;
  }
  .about_us_img {
    width: 95%;
    height: 350px;
    margin-top: 60px;
  }
  .about_us_burger {
    display: none;
  }
  .about_us_sml_burger {
    display: none;
  }
}

.favotite {
  width: 1700px;
  height: 600px;
  margin: auto;
  position: relative;
  top: 120px;
}
.favotite_div {
  width: 1700px;
  height: 374px;
  background-color: #90e051;
  border-radius: 10px;
  margin: 105px auto;
  box-shadow: 0px 19px 50px 25px rgba(111, 192, 47, 0.58);
}
.favotite_burgers {
  width: 506px;
  height: 306px;
  position: absolute;
  bottom: 500px;
}
.favotite_phone_img {
  width: 344px;
  height: 694px;
  position: absolute;
  bottom: 150px;
  left: 350px;
  z-index: 2;
}
.favotite_phone_img_2 {
  width: 288px;
  height: 582px;
  position: absolute;
  bottom: 180px;
  left: 550px;
}
.favotite_title {
  width: 750px;
  height: 97px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  color: #ffffff;
  position: absolute;
  top: 30px;
  left: 870px;
}
.favotite_burger {
  width: 370px;
  height: 378px;
  position: absolute;
  top: 150px;
  left: 1340px;
}
@media (max-width: 500px) {
  .favotite {
    width: 90%;
  }
  .favotite_div {
    width: 300px;
    margin: 0;
    height: 474px;
    background-color: #90e051;
    border-radius: 10px;
  }
  .favotite_burgers {
    width: 150px;
    height: 100px;
    top: -50px;
    left: -10px;
  }
  .favotite_burger {
    display: none;
  }
  .favotite_phone_img {
    width: 120px;
    height: 300px;
    top: 550px;
    left: 50px;
  }
  .favotite_phone_img_2 {
    width: 120px;
    height: 300px;
    top: 570px;
    left: 130px;
  }
  .favotite_title {
    width: 250px;
    height: 97px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #ffffff;
    position: absolute;
    top: 30px;
    text-align: center;
    left: 0px;
  }
}/*# sourceMappingURL=style.css.map */