.navbar{
    display: flex;
    align-items: end;
    justify-content: end;


    &__list{
        display: flex;
        gap: 50px;
        margin-right: 300px;
    }
    &__link{
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        color: rgb(19, 18, 18);
        &:hover{
            color: green;
            transition: all 1s linear;
            transform: scale(1.3);
        }
    }
    &__wrap-svg{
        margin-right: 50px;
    }
    &__burger{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;
        &-items{
            width: 30px;
            height: 3px;
            background-color: black;
        }
    }
    @media (max-width: 500px) {
        width: 90%;
        margin: 50px auto;
        &__list{
            display: none;
        }
        &__wrap-svg{
            display: none;
        }
        &__burger{
            display: flex;
        }

    }
}